/*Start Contact*/
.contact{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color:var(--section-background);
}
.contact .info{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
}
.contact .info .label{
    font-weight: 800;
    font-size:35px;
    color: var(--secondary-color);
    letter-spacing: -2px;
    margin-bottom: 15px;
}

.contact .info .link{
    display: block;
    font-weight: 800;
    font-size: 35px;
    color: var(--main-color);
    text-decoration: none;
}
@media (max-width:767px) {
    .contact .info .label,.contact .info .link{
        font-size: 25px;
        
    }
}
.contact .info .social{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    font-size: 16px;
}
.social-icon{
    margin-left: 10px;
    color: var(--main-color);
}
/*End Contact */